/.venv
/*.egg-info
**/__pycache__/**
build/**
/repositories
/repositories/vampire/CMakeFiles/** */
/notebooks/research.ipynb
uv.lock
/reason/assets/bin
/.idea
/.vscode
/notebooks/.proof_cache
notebooks/*.gefx
