[submodule "repositories/vampire"]
	path = repositories/vampire
	url = https://github.com/vprover/vampire.git
[submodule "repositories/lark"]
	path = repositories/lark
	url = https://github.com/lark-parser/lark.git
